:root {
    --primary-color: #B10D0D;
    --secondary-color: rgb(29, 29, 29);
}


/* *{
    border-radius: 0px !important;
} */

.primary-color{
    color:var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}

.btn-main{
    background-color:var(--primary-color);
    padding: 10px 16px;
    border-radius: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 0rem 1rem rgba(0,0,0,.25)!important;
}
.btn-main:hover{
    background-color:#860F0F;
    color: #fff;
}

/* PAGE BANNER */
    .page-banner{
        width:100%; 
        height: 550px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
/* END PAGE BANNER */

/* NAV BAR */
    #navbar{
        padding-top:7px;
        padding-bottom: 7px;
        transition: padding 300ms ease;
    }
    @media only screen and (min-width:992px){
        #navbar .nav-item{
            padding: 32px 0px;
        }
        #navbar.sticky .nav-item{
            padding: 20px 0px;
        }
    }
    
    #navbar.sticky{
        padding-top:0px;
        padding-bottom: 0px;
    }
    #navbar .navbar-brand img{
        height: 70px;
    }
    #navbar.navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    /* #navbar.navbar-light .navbar-toggler{
        border: none;
        padding: 0px;
    } */
    #navbar.navbar-light .navbar-toggler:focus{
        outline: none;
    }
    #navbar .nav-item .nav-link{
        padding: 0px;
        margin-right:20px;
        margin-left: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #navbar.navbar-light .navbar-nav .nav-link:not(:last-child){
        color: var(--secondary-color);
        opacity: .7;
    }
    #navbar.navbar-light .navbar-nav .nav-link.active{  
        border-bottom: 3px solid var(--primary-color);
        opacity: 1;
    }
    #navbar .dropdown-menu{
        border-radius: 0px;
        border: none;
        margin: 0px;
        padding: 0px;
        top: 100%;
        background: rgba(255,255,255,.9);
    }
    #navbar .dropdown-menu .dropdown-item{
        padding: 10px 20px;
    }
    #navbar .dropdown-menu .dropdown-item:hover {
        color: var(--primary-color);
    }
    #navbar .dropdown:hover>.dropdown-menu {
        display: block;
    }
    #navbar .dropdown-menu .dropdown-item.active, .dropdown-item:active{
        background: none;
        color: var(--primary-color)
    }
    @media only screen and (max-width:991px){
        #navbar .dropdown-menu .dropdown-item{
            padding: 10px 50px;
        }
        #navbar .dropdown.active .dropdown-menu{
            display: block;
        }
        #navbar .dropdown-menu .dropdown-item::before{
            content: "- ";
        }
    }
    

/* END NAV BAR */

/* BANNER */
    #homepage .carousel-inner .carousel-item{
        width:100%; 
        height: 550px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }

    #homepage .carousel-indicators{
        margin-bottom: -40px;
    }
    #homepage .carousel-indicators li{
        border-radius: 50% !important;
        width: 12px;
        height: 12px;
        margin-right: 15px;
        margin-left: 15px;
        background-color: white;

    }
    #homepage .carousel-indicators li.active{
        background-color: #fff;
    }
    /* .carousel-control-prev-icon {
        background-image: url("/client/images/bg.jpg");
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    } */
/* END BANNER */ 

/* SECTION TITLE */
    .section-title{
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        padding:20px;
        color: rgb(80,80, 80);
    }
    .section-title::before{
        content:"\2013 \00a0";
        color:var(--primary-color);
    }
/* SECTION TITLE */

/* OUR STORY */
    #homepage .our-story{
        background-color:rgb(230,230, 230);
        padding: 80px 0px;
    }
    #homepage .our-story .title{
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 1.2
    }
    #homepage .our-story .description{
        line-height: 40px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    #homepage .our-story .read-more .btn-default{
        border: 3px var(--secondary-color) solid;
    }
    #homepage .our-story .read-more .btn-default:hover{
        background-color:white;
    }
/* END OUR STORY */

/* NEWS */
    #homepage .news{
        padding-bottom: 30px;
    }
    #homepage .news .item .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: rgba(3, 0, 17, 0.5);
        transition: all 0.5s ease;
        padding:15px;
    }
    #homepage .news .item .title{
        color:white;
    }
/* END NEWS */

/* VIDEOS */
    #homepage .video{
        background-color:rgb(230,230, 230);
        padding-bottom: 20px;
    }
    #homepage .news .item .title{
        color:white;
    }
    #homepage .video video:focus{
        outline: none;
    }
/* END VIDEOS */

/* WHO WE ARE */
    #who-we-are .team{
        margin-top: 100px;
        background-color:rgb(230,230, 230);
        padding-bottom: 150px;
    }
    #who-we-are .team .main-section{
        background-color:rgb(50,50, 50);
    }
    #who-we-are .section-title{
        font-size: 18px;
        padding-bottom: 0px;
    }
    #who-we-are .heading-title{
        font-size: 35px;
        margin-bottom: 30px;
    }
    #who-we-are .team .heading-title,
    #who-we-are .team .section-title{
        color:white;
    }
    #who-we-are .team .item,
    #who-we-are .team .item img{
        border-radius: 0px;
        border:none;
    }
    #who-we-are .team .item .card-footer{
        border-radius: 0px;
        border-bottom: 7px solid var(--primary-color);
        border-top: 0px;
        padding-top:15px;
        padding-bottom: 5px; 
        margin-bottom: -78px;
        background-color: white;
    }
    #who-we-are .team .item .card-footer .name,
    #who-we-are .team .item .card-footer .position{
        text-transform: uppercase;
    }
    #who-we-are .team .item .card-footer .name{
        font-weight: 700px;
        font-size: 18px;
        margin-bottom: 2px;
    }
    #who-we-are .team .item .card-footer .position{
        font-size: 15px;
    }
    #who-we-are .profile{
        padding-bottom: 20px;
    }
    #who-we-are .message{
        background-color:rgb(230,230, 230);
        padding-bottom: 20px;
    }
    #who-we-are .profile .description,
    #who-we-are .message .description{
        line-height: 30px;
    }
    #who-we-are .message .image{
        text-align: center;
    }
    #who-we-are .message img{
        max-width: 300px;
    }
/* END WHO WE ARE */

/* ABOUT US */
    #about-us .title{
        font-size: 30px;
        font-weight: 400px;
        margin-bottom: 15px;
        line-height: 30px;
    }
    #about-us .about-us,
    #about-us .vision-mission{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #about-us .about-us .description{
        line-height: 28px;
    }
    #about-us .vision-mission{
        background-color:rgb(230,230, 230);
    }
    #about-us .vision-mission .vision{
        width:100%; 
        height: 400px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
        margin-bottom: 50px;
    }
    #about-us .vision-mission .vision .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        /* background: rgba(250, 250, 250, 0.2); */
        transition: all 0.5s ease;
    }
    #about-us .vision-mission .vision .overlay .description,
    #about-us .vision-mission .mission .description{
        padding: 0px 50px;
    }
/* END ABOUT US */

/* OUR PROJECT */
    #our-project,
    #project-category{
        background-color:rgb(230,230, 230);
    }
    #our-project .section-title,
    #project-category .section-title{
        font-size: 18px;
        padding-bottom: 0px;
    }
    #our-project .heading-title,
    #project-category .heading-title{
        font-size: 35px;
        margin-bottom: 30px;
    }
    #our-project .content,
    #project-category .content{
        padding:50px 0px;
    }
    #our-project .content .item,
    #our-project .content .card-img-top{
        border-radius: 0px;
    }
    #our-project .content .item{
        width:100%; 
        height: 230px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #our-project .content .item .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
    }
    #our-project .content .item:hover .overlay{
        background: rgba(30, 30, 30, 0.5);
        transition: all 0.5s ease;
    }
    #our-project .content .item:hover .overlay .title{
        display: block;
    }
    #our-project .content .item .overlay .title{
        font-weight: bold;
        font-size: 24px;
        color: white;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 30%;
        display: none;
        padding: 0px 15px;
    }
    #our-project .nav-projects{
        margin-bottom: 10px;
    }
    #our-project .nav-projects .nav-item{
        cursor: pointer;
    }
    #our-project .nav-projects .nav-item .nav-link{
        color:black;
        font-size: 20px;
    }
    #our-project .nav-projects .nav-item .nav-link.active{
        color: var(--primary-color);
    }

    #project-category .item .image{
        width:100%; 
        min-height: 100px;
        height: 330px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative; 
    }
    #project-category .item .info{
        background-color: white;
        height: 100%;
        padding: 20px;
    }
    #project-category .item .info .title{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
    }
/* END OUR PROJECT */

/* CONTACT */
    #contact{
        background-color:rgb(230,230, 230);
        padding-bottom: 50px;
    }
    #contact .map{
        line-height: 0px;
        padding:0px;
    }
    #contact .info{
        position: relative;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #contact .info .overlay{
        background:rgba(0,0,0,.7);
        height: 100%;
    }
    #contact .info .desc{
        position: absolute;
        top: 0px;
        padding: 90px 100px;
        height: 100%;
        width: 100%;
        color: white;
    }
    #contact .info .desc .heading{
        color: white;
        margin-bottom: 7px;
    }
    #contact .info .desc .text{
        color:#d1d1d1;
    }
    
/* END CONTACT */

/* CAREER */
    #career, #career-detail{
        background-color:rgb(230,230, 230);
    }
    #career{
        padding-bottom: 40px;
    }
    #career-detail{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #career .main-section{
        font-size:15px;
    }
    #career .main-section .heading{
        color:var(--primary-color);
        margin-bottom: 10px;
        text-align: center;
    }
    #career-detail .main-section hr{
        border-bottom: 2px solid var(--primary-color)
    }
    #career .main-section .info{
        line-height: 25px;
        margin-bottom: 20px;
    }
    #career table tr td a,
    #career table tr td{
        color:#222 !important;
    }
    
    #career-detail .main-section .title{
        line-height: 35px;
        font-size: 24px;
        color: var(--primary-color)
    }
    #career-detail .main-section .description{
        font-size: 15px;
        line-height: 25px;
    }
    #career-detail .main-section .description table tr td:first-child{
        width: 120px;
    }
    
    #career-detail .side-section .heading{
        font-size: 18px;
        line-height: 35px;
        border-bottom: 2px solid var(--primary-color)
    }
    #career-detail .side-section .card .content .item{
        font-size: 15px;
        font-weight: bold;
        line-height: 22px;
        opacity: .8;
        color: #111;
    }
    #career-detail .side-section .card .content .item:hover{
        opacity: 1;
    }
    
    
/* END CAREER */

/* News */
    #news{
        padding-bottom: 30px;
    }
    #news .item .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: rgba(3, 0, 17, 0.5);
        transition: all 0.5s ease;
        padding:15px;
    }
    #news .item .title{
        color:white;
    }
    #news-detail{
        background-color:rgb(230,230, 230);
    }
    #news-detail{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #news-detail .main-section hr{
        border-bottom: 2px solid var(--primary-color)
    }

    #news-detail .main-section .title{
        line-height: 35px;
        font-size: 24px;
        color: var(--primary-color)
    }
    #news-detail .main-section .description{
        font-size: 15px;
        line-height: 25px;
    }
    #news-detail .main-section .description table tr td:first-child{
        width: 120px;
    }

    #news-detail .side-section .heading{
        font-size: 18px;
        line-height: 35px;
        border-bottom: 2px solid var(--primary-color)
    }
    #news-detail .side-section .card .content .item{
        font-size: 15px;
        font-weight: bold;
        line-height: 22px;
        opacity: .8;
        color: #111;
    }
    #news-detail .side-section .card .content .item:hover{
        opacity: 1;
    }
/* END News */


/* FOOTER */
    .footer{
        border-bottom: 30px solid var(--secondary-color);
    }
    .footer .content{
        border-bottom: 25px solid var(--primary-color);
    }
    .footer .content .container{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .title{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer .list-group a{
        text-decoration: none;
        color: #212529;
    }
/* END FOOTER */

@media only screen and (min-width:992px) and (max-width:1199px){
    
}
@media only screen and (max-width:991px){
    /* NAVBAR */
        #navbar{
            padding-left:0px;
            padding-right: 0px;
        }
        #navbar .navbar-brand{
            padding-left: 30px;
        }
        #navbar.navbar-light .navbar-toggler{
            margin-right: 30px;
        }
        #navbar .navbar-nav{
            margin-top:10px;
            margin-bottom: 15px;
            padding-top: 10px;
            border-top: 2px solid var(--secondary-color);
        }
        #navbar .navbar-nav .nav-item.active{
            background-color:darkgrey;
        }
        #navbar .navbar-nav .nav-link{
            margin: 0px;
            padding: 10px 30px;
        }
        #navbar.navbar-light .navbar-nav .nav-link.active{
            border: none;
            border-left: 4px solid var(--primary-color);
        }
    /* END NAVBAR */
    /* BANNER */
        #homepage .carousel-inner .carousel-item,
        .page-banner{
            height: 450px; 
        }
    /* END BANNER */

    /* WHO WE ARE */
        #who-we-are .team .item .card-footer{
            margin-bottom: 0px;
        }
        #who-we-are .team{
            padding-bottom: 0px;
        }
        #who-we-are .team .main-section{
            padding-bottom:10px;
        }
        #who-we-are .team .member{
            margin-bottom: 20px;
        }
    /* END WHO WE ARE */

    /* Contact */
        #contact .info .desc{
            padding: 80px 50px;
        }
    /* END CONTACT */
}
@media only screen and (max-width:767px){
    /* BANNER */
        #homepage .carousel-inner .carousel-item,
        .page-banner{
            height: 350px; 
        }
    /* END BANNER */

    #our-project .content .item{
        width:100%; 
        height: 180px; 
    }
    #our-project .content .item .overlay .title{
        font-weight: bold;
        font-size: 18px;
    }
}
@media only screen and (max-width:576px){
    /* BANNER */
        #homepage .carousel-inner .carousel-item,
        .page-banner{
            height: 300px; 
        }
    /* END BANNER */

    /* OUR STORY */
        #homepage .our-story{
            padding: 50px 0px;
        }
    /* END OUR STORY */

    /* OUR PROJECT */
        #our-project .content{
            padding:40px 0px;
        }
    /* END OUR PROJECT */
    /* Contact */
        #contact .info{
            height: 400px;
        }
        #contact .info .desc{
            padding: 30px 30px;
        }
    /* END CONTACT */

    #our-project .content .item{
        width:100%; 
        height: 250px; 
    }
    #our-project .content .item .overlay .title{
        font-weight: bold;
        font-size: 24px;
    }
}
@media only screen and (max-width:420px){
    /* ABOUT US */
        #about-us .title{
            font-size: 25px;
        }
        #about-us .about-us,
        #about-us .vision-mission{
            padding-top: 40px;
            padding-bottom: 40px;
        }
        #about-us .vision-mission .vision{
            height: 300px; 
            margin-bottom: 30px;
        }
        #about-us .vision-mission .vision .overlay .description,
        #about-us .vision-mission .mission .description{
            padding: 0px 30px;
        }
    /* END ABOUT US */

    /* OUR PROJECT */
        #our-project .content,
        #project-category .content{
            padding:30px 0px;
        }
    /* END OUR PROJECT */
}
@media only screen and (max-width:376px){
    /* BANNER */
        #homepage .carousel-inner .carousel-item,
        .page-banner{
            height: 250px; 
        }
    /* END BANNER */

    /* ABOUT US */
        #about-us .vision-mission .vision{
            height: 300px; 
            margin-bottom: 30px;
        }
        #about-us .vision-mission .vision .overlay .description,
        #about-us .vision-mission .mission .description{
            padding: 0px 30px;
        }
    /* END ABOUT US */
    
    /* OUR PROJECT */
        #our-project .content,
        #project-category .content{
            padding:20px 0px;
        }
    /* END OUR PROJECT */
}

/* OWL CAROUSEL */
    .owl-theme .owl-prev:focus,
    .owl-theme .owl-next:focus,
    .owl-theme .owl-dots .owl-dot:focus{
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot span{
        border-radius: 50% !important;
        background-color: #656565;
        width: 7px;
        height: 7px;
    }
    .owl-theme .owl-dots .owl-dot.active span{
        background-color: #fff;
        width: 11px;
        height: 11px;
    }
    .owl-theme .owl-nav{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .owl-theme .owl-nav .owl-prev:hover,
    .owl-theme .owl-nav .owl-next:hover{
        background: none;
    }
    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        position: absolute;
        top: 40%;
    }
    .owl-theme .owl-nav .owl-prev{
        left: -40px;
    }
    .owl-theme .owl-nav .owl-next{
        right: -40px;
    }
    .owl-theme .owl-nav .owl-prev i,
    .owl-theme .owl-nav .owl-next i{
        padding: 6px 14px;
        background: rgba(200, 200, 200, 0.2);
        border-radius: 50% !important;
        transition: all 0.5s ease;
    }
    .owl-theme .owl-nav .owl-prev i:hover,
    .owl-theme .owl-nav .owl-next i:hover{
        background: rgba(200, 200, 200, 0.5);
        transition: all 0.5s ease;
    }
/* END OWL CAROUSEL */

/* BUTTON SCROLL UP */
    #btnScrollUp{
        display:none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity:1;
    }
    #btnScrollUp:hover {
        opacity: 1;
        transition: all 0.5s ease;
    }
    #btnScrollUp button{
        background-color:rgba(177, 13, 13, 0.8);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50%;
    }
    #btnScrollUp button:hover{
        background-color:rgba(177, 13, 13, 1);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50%;
        
    }
    #btnScrollUp button i{
        color:white;
    }
/* END BUTTON SCROLL UP */
